      .sectionHidden{
        display: none;
      }
      .toDelete{
        display: none;
      }

      .videoTitleHeader{
        z-index: 40;
        max-height: 400px;
      }

      @media only screen and (max-width: 420px)  {
        .videoTitleHeader{
        position:absolute;
      }
          }

      .videoSection{
        text-align: center;
      }
      .videoTitle{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;  /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
        }

               
      .videoTitle img {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 2.5s;

        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
      }

      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }